In [178]:
import pandas
data = pandas.read_csv('titanic.csv', index_col='PassengerId')

data[:10]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [179]:
data['Pclass'].value_counts()

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

Какое количество мужчин и женщин ехало на корабле?

In [180]:
#1
print(f"{data['Sex'].value_counts()['male']} {data['Sex'].value_counts()['female']}")

577 314

Какой части пассажиров удалось выжить?

In [181]:
#2

survived = data['Survived'].value_counts()[1]
dead = data['Survived'].value_counts()[0] 

print((survived / (dead + survived) * 100).round(2))

38.38

Какую долю составляли пассажиры первого класса от всех пассажиров

In [182]:
#3

first_class = data['Pclass'].value_counts()[1]
print((first_class / len(data) * 100).round(2))

24.24

Какого возраста были пассажиры? Посчитайте среднее и медиану.

In [183]:
#4

median = data['Age'].median()
mean = data['Age'].mean()

print(mean, median)

29.69911764705882 28.0

Коререлируют ли число братьев и сестер с числом родителей/детей? Посчитайте корреляцию Пирсона между признаками SibSp и Parch

In [184]:
#5

avg_SibSp = data['SibSp'].mean()
avg_Parch = data['Parch'].mean()


coef = sum((data['SibSp'] - avg_SibSp) * (data['Parch'] - avg_Parch)) / (((sum((data['SibSp'] - avg_SibSp) ** 2)) * sum((data['Parch'] - avg_Parch) ** 2)) ** 0.5)


coef

0.41483769862015263

Какое самое популярное женское имя на корабле?

In [251]:
#6

def filter(x):
    name = x.split('.')[1]
    if '(' in name:
        return name.split('(')[1].split(' ')[0]
    else:
        return name.split(' ')[1]


data['FirstName'] = data['Name'].apply(filter)

print(data[data['Sex'] == 'female']['FirstName'].mode()[0])

Anna